[submodule "vendor/codex"]
	path = vendor/codex
	url = https://github.com/blocksense-network/codex
[submodule "vendor/tui-textarea"]
	path = vendor/tui-textarea
	url = git@github.com:blocksense-network/tui-textarea.git
[submodule "vendor/vt100"]
	path = vendor/vt100
	url = git@github.com:blocksense-network/vt100-rust.git
[submodule "vendor/rust-sdk"]
	path = vendor/rust-sdk
	url = https://github.com/agentclientprotocol/rust-sdk
[submodule "vendor/acp-rust-sdk"]
    path = vendor/acp-rust-sdk
    url = git@github.com:blocksense-network/acp-rust-sdk.git
    branch = agent-harbor
