[submodule "vendor/codex"]
	path = vendor/codex
	url = https://github.com/blocksense-network/codex
[submodule "vendor/tui-textarea"]
	path = vendor/tui-textarea
	url = https://github.com/blocksense-network/tui-textarea.git
