@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import 'tailwindcss';

@import './styles/tom-select.css';

@theme {
  --font-manrope: Manrope, sans-serif;
}

body {
  font-family: var(--font-manrope);
}
