# Copyright 2025 Schelling Point Labs Inc
# SPDX-License-Identifier: AGPL-3.0-only

[package]
name = "ah-fs-snapshots"
version = "0.1.0"
edition = "2021"
description = "Filesystem snapshot provider abstractions for Agent Harbor"
license = "MIT OR Apache-2.0"

[dependencies]
serde.workspace = true
tokio.workspace = true
tracing.workspace = true
anyhow.workspace = true
thiserror.workspace = true
async-trait = "0.1"
tempfile.workspace = true
libc = "0.2"
ssz = { package = "ethereum_ssz", version = "0.8" }
fslock = "0.2"

agentfs-daemon = { workspace = true, optional = true }
agentfs-interpose-e2e-tests = { workspace = true, optional = true }
agentfs-proto = { workspace = true, optional = true }
chrono = { workspace = true, features = ["serde"] }
dirs = { workspace = true }
ah-fs-snapshots-daemon = { workspace = true }

[target.'cfg(target_os = "macos")'.dependencies]
agentfs-interpose-e2e-tests = { workspace = true }
agentfs-client = { workspace = true }

[dev-dependencies]
regex = "1.10"
libc = "0.2"
ah-repo = { workspace = true }
ah-logging = { workspace = true, features = ["test-utils"] }
serial_test = { version = "3", features = ["file_locks"] }
fs-snapshots-test-harness = { workspace = true, features = [
  "git",
  "zfs",
  "btrfs",
  "agentfs",
] }

[features]
default = ["git", "zfs", "btrfs", "agentfs"]
zfs = []
btrfs = []
git = []
agentfs = [
  "dep:agentfs-daemon",
  "dep:agentfs-proto",
  "dep:agentfs-interpose-e2e-tests",
]

[dependencies.ah-core]
path = "../ah-core"

[dependencies.ah-fs-snapshots-traits]
path = "../ah-fs-snapshots-traits"
