# Copyright 2025 Schelling Point Labs Inc
# SPDX-License-Identifier: AGPL-3.0-only

[package]
name = "ah-fs-snapshots"
version = "0.1.0"
edition = "2021"
description = "Filesystem snapshot provider abstractions for Agent Harbor"
license = "MIT OR Apache-2.0"

[dependencies]
serde.workspace = true
tokio.workspace = true
tracing.workspace = true
anyhow.workspace = true
thiserror.workspace = true
async-trait = "0.1"
tempfile.workspace = true
libc = "0.2"

agentfs-daemon = { path = "../agentfs-daemon", optional = true }
agentfs-interpose-e2e-tests = { path = "../agentfs-interpose-e2e-tests", optional = true }
agentfs-proto = { path = "../agentfs-proto", optional = true }
agentfs-client = { path = "../agentfs-client" }

[dev-dependencies]
regex = "1.10"
libc = "0.2"
ah-repo = { path = "../ah-repo" }
fs-snapshots-test-harness = { path = "../../tests/fs-snapshots-test-harness", default-features = false, features = [
  "git",
  "zfs",
  "btrfs",
  "agentfs",
] }

[features]
default = ["zfs", "btrfs", "git"]
zfs = ["dep:ah-fs-snapshots-zfs"]
btrfs = ["dep:ah-fs-snapshots-btrfs"]
git = ["dep:ah-fs-snapshots-git"]
agentfs = [
  "dep:agentfs-daemon",
  "dep:agentfs-proto",
  "dep:agentfs-interpose-e2e-tests",
]

[dependencies.ah-fs-snapshots-btrfs]
path = "../ah-fs-snapshots-btrfs"
optional = true

[dependencies.ah-core]
path = "../ah-core"

[dependencies.ah-fs-snapshots-traits]
path = "../ah-fs-snapshots-traits"

[dependencies.ah-fs-snapshots-zfs]
path = "../ah-fs-snapshots-zfs"
optional = true

[dependencies.ah-fs-snapshots-git]
path = "../ah-fs-snapshots-git"
optional = true
